In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [2]:
# create the dataframe
train = pd.read_csv('titanic.csv')

In [3]:
#drop null values
train.dropna(inplace=True)

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [5]:
target = 'Survived'
features = ['Pclass','Age','SibSp','Fare']

In [6]:
#X Matrix, y vector
X = train[features]
y = train[target]

In [7]:
#model
model = LogisticRegression()
model.fit(X,y)
model.score(X,y)

0.7103825136612022

In [8]:
import pickle
pickle.dump(model,open('model.pkl','wb'))

In [9]:
import requests
import json

In [10]:
# local url
url = 'http://127.0.0.1:5000'

# test data
data = {  'Pclass': 3
             , 'Age': 2
             , 'SibSp': 1
             , 'Fare': 50}

data = json.dumps(data)
data

'{"Pclass": 3, "Age": 2, "SibSp": 1, "Fare": 50}'

In [12]:
send_request = requests.post(url, data)
print(send_request)

<Response [200]>

In [13]:
print(send_request.json())

{'results': {'results': 1}}